*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
    background-size: cover;
    background: #5CD895;
}
.nav{
    width: 94%;
    height: auto;
    margin: auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #05386B;
}
.button{
    font-size: 16px;
    
}
.button a{
    text-decoration: none;
    margin: 1px;
    padding: 2px;
    outline: none;
    color: #05386B;
    border: 2px #05386B solid;
    background: none;
    border-radius: 5px;

}
.button a:hover{
    color: #EDF5E1;
    background: #05386B;
    transition: .3s;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    color: #EDF5E1;
}
.p{
    align-self: center;
    width: 50%;
    height: auto;
}
.p img{
    width: 100%;
    height: auto;
}
.f{
    align-self: center;
    width: 50%;
    text-align: left;
}
.f h2{
    color: #05386B;
}
.product{
    width: 90%;
    padding: 5%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #EDF5E1;
}
.items{
    height: auto;
    margin: auto;
    box-shadow: 2px 2px 5px #201818;
    margin-bottom: 2%;
    background-color: #5CD895;
}
.items img{
    width: 100%;
    height: auto;
}
.items p{
    width: 100%;
    height: 8vh;
    font-size: 18px;
    text-align: left;
    margin: 5px;
}
.items a{
    float: right;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background: #05386B;
    color: #EDF5E1;
    text-decoration: none;
    border-radius: 2px;
}
.about{
    text-align: center;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    margin: auto;
}
.contact{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
@media only screen and (min-width: 360px) {
    .f p{
        font-size: 16px;
    }
    .items{
        width: 45%;
    }
    .f h2{
        font-size: 24px;
    }
    .logo h3{
        font-size: 18px;
    }
}
@media only screen and (min-width: 720px) {
    .f p{
        font-size: 20px;
    }
    .items{
        width: 28%;
    }
    .f h2{
        font-size: 30px;
    }
    .logo h3{
        font-size: 20px;
    }
    .p img{
        width: 60%;
        float: right;
    }
}

